@font-face {
    font-family: Cubic;
    src: url(../fonts/Cubic_11_1.010_R.woff); 
}
body{
    background-color: #2a2828;
    color: #00ff00;
    font-family: Cubic, monospace;
}
.border-3 {
    border-width:3px !important;
}
.shao-logo{
    width: 200px;
}
.info-2 .badge{
    color:#fff;
    /* font-size: 1rem; */
    padding: 0.5em 0.6em;
}
.btn-submit{
    background: aliceblue;
    color: #43423f;
}
.make-friend-YorN .btn-yes{
    background: #45ce45;
    width: 135px;
    color: #fff;
    font-weight: bold;
    /* box-shadow: 0px -5px 10px 0px #4f5b4f; */
    /* box-shadow: 0 -3px 2px 3px #4f5b4f; */
}
.make-friend-YorN .btn-no{
    background: #ff8400;
    width: 135px;
    color: #fff;
    font-weight: bold;
}
.circle{
    width: 50px;
    height: 50px;
    border: 3px solid #00ff00;
    border-radius: 50%;
    background: 
        linear-gradient(#efce28, transparent),
        linear-gradient(to top left, rgb(255, 255, 255), transparent),
        linear-gradient(to top right, #1554f4a3, transparent);
    background-blend-mode: screen;
    
}
.friends-table{
    
    background: #4f5b4f;
    /* border: 2px solid white; */
    border-radius: 10px;
    border-collapse: separate;
    /* table-layout: fixed; */
}
.friends-table td{
    /* word-wrap: break-all; */
}
@media (max-width:520px){
    .shao-logo{
        width: 120px;
    }
}