@font-face {
    font-family: Cubic;
    src: url(../fonts/Cubic_11_1.010_R.woff); 
}
body{
    background-color: #2a2828;
    color: #00ff00;
    font-family: Cubic, monospace;
}
.border-3 {
    border-width:3px !important;
}
.shao-logo{
    width: 200px;
}
.info-2 .badge{
    color:#fff;
    /* font-size: 1rem; */
    padding: 0.5em 0.6em;
}

/* 跟我交朋友吧 */
.btn-submit{
    color: #00ff00;
    border: 1px solid #00ff00;
}
.make-friend-YorN .btn-yes{
    /* b0ff00 16afc8 */
    border: 3px solid #64c905;
    /* 1c464d 0b373f 214730 11321e*/
    background: #11321e;
    width: 130px;
    color: #64c905;
    font-weight: bold;
}
.make-friend-YorN .btn-no{
    border: 3px solid #f00;
    /* 6a1414 481515 */
    background: #481515;
    width: 130px;
    color: #f00;
    font-weight: bold;
}
/* 目前我有X位朋友 */
.friends-table{
    font-size: .8rem;
    background: #4f5b4f;
    /* border: 2px solid white; */
    border-radius: 10px;
    border-collapse: separate;
    /* table-layout: fixed; */
}
.friends-table td{
    word-wrap: break-all;
}
.member-title{
    /* width: fit-content; */
    color: #fff;
    background: #004085;
    font-size: 1.5rem;
}
@media (max-width:520px){
    .shao-logo{
        width: 120px;
    }
}