@font-face {
    font-family: Cubic;
    src: url(../fonts/Cubic_11_1.010_R.woff); 
}
body{
    background-color: black;
    color: #00ff00;
    font-family: Cubic, monospace;
}
.border-3 {
    border-width:3px !important;
}
.shao-logo{
    width: 200px;
}
.info-2 .badge{
    color:#fff;
    /* font-size: 1rem; */
    padding: 0.5em 0.6em;
}
@media (max-width:520px){
    .shao-logo{
        width: 120px;
    }
}